
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="page-header">Welcome to a Calculus Test!</div>
<p>This is the start page for the calculus test</p>

<div class="container">
    <h1>The test</h1>
    <p>
        This test will ask a series of questions about colors on which you will be scored.
        Your score will be displayed at the end of the test
    </p>

    <div class="form-group">
        <div class="col-md-10">
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="location.href = '@Url.Action("Test")'" />Let's have a try!
            </span>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to start", "Index", "Main")
    </div>

</div>
